services:
  windows:
    image: dockurr/windows
    container_name: windows
    environment:
      VERSION: "https://dl.bobpony.com/windows/beta/11/cobalt/22000/2000.51.210617-2050.CO_RELEASE_SVC_PROD2_CLIENTMULTI_X64FRE_EN-US.ISO"
    devices:
      - /dev/kvm
      - /dev/net/tun
    cap_add:
      - NET_ADMIN
    ports:
      - 8006:8006
      - 3389:3389/tcp
      - 3389:3389/udp
    volumes:
      - ./windows:/storage
    restart: always
    stop_grace_period: 2m
